# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.envrc

# macOS
.DS_Store

# Build
/build/
dist/
*.egg-info/

# Raw datasets (large binary files — re-download via torchvision)
data/MNIST/
data/FashionMNIST/

# Results
results/convergence_mlp/
results/convergence_cnn/

results/volumes_mlp/
results/volumes_mlp_old/
results/volumes_mlp_aug/
results/volumes_mlp_walk/
results/volumes_mlp_walk1point/

results/volumes_cnn/
results/volumes_cnn_aug/
results/volumes_cnn_walk1point/

results/volumes_aug_mlp_qcorrect/
results/volumes_aug_mlp_qincorrect/
results/volumes_aug_cnn_qcorrect/
results/volumes_aug_cnn_qincorrect/
results/volumes_v3k_mlp_qincorrect/
